@model IEnumerable<Cervejaria.Models.Entrada>

@{
    ViewBag.Title = "Index";
}

<h2 style="margin-left:10px">Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Valor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Compra.CompraId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Valor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Compra.CompraId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EntradaId }) |
            @Html.ActionLink("Details", "Details", new { id=item.EntradaId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EntradaId })
        </td>
    </tr>
}

</table>
