@model Cervejaria.Models.Compra

@{
    ViewBag.Title = "Details";
}

<h2 style="margin-left:10px">Details</h2>

<div>
    <h4>Compra</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CompraId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
