@model IEnumerable<Cervejaria.Models.ItemReceita>

@{
    ViewBag.Title = "Index";
}

<h2 style="margin-left:10px">Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Quantidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Insumo.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Receita.Nome)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Quantidade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Insumo.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Receita.Nome)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ItemReceitaId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ItemReceitaId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ItemReceitaId })
        </td>
    </tr>
}

</table>
